<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
   
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IPatronService" />
                <binding name="WSHttpBinding_IBookStoreService" />
                <binding name="WSHttpBinding_IBookRequestService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8736/CampusBookService/PatronService"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IPatronService"
                contract="CampusBook_PatronService.IPatronService" name="WSHttpBinding_IPatronService">
                <identity>
                    <userPrincipalName value="DESKTOP-LLLO1D0\SOHAM" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8736/CampusBookService/BookStoreService"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IBookStoreService"
                contract="CampusBook_BookStoreService.IBookStoreService" name="WSHttpBinding_IBookStoreService">
                <identity>
                    <userPrincipalName value="DESKTOP-LLLO1D0\SOHAM" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8736/CampusBookService/BookRequestService"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IBookRequestService"
                contract="CampusBook_BookRequestService_.IBookRequestService"
                name="WSHttpBinding_IBookRequestService">
                <identity>
                    <userPrincipalName value="DESKTOP-LLLO1D0\SOHAM" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>
